<div class="container">
    <h2>Todos page</h2>

    {{#if todos.length}}
        <ul>
            {{#each todos}}
                <li class="todo">
                    <form method="POST" action="/complete">
                        <label>
                            {{#if complited}}
                            <input type="checkbox" name="complited" checked>
                            <span class="complited">{{title}}</span>
                            {{else}}
                            <input type="checkbox" name="complited">
                            <span>{{title}}</span>
                            {{/if}}
                            <input type="hidden" name="id" value="{{_id}}">
                            <button class="btn btn-small" type="submit">Save</button>
                        </label>
                    </form>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No todos!</p>
    {{/if}}
</div>